body {
  padding-top: 70px;
}

.tradeTable {
  text-align: center;
}

.topbar button {
  font-size: 1.8em;
  box-shadow: none !important;
  margin: 0 !important;
}

.topbar button:last-child {
  padding-right: 0;
}

button {
  border: 0 !important;
}

.topbar {
  border: 0;
  padding: 0 1rem;
}

#stratFilter {
  z-index: 11;
  position: fixed;
  left: 0;
  width: 100vw;
  top: 100vh;
  max-height: 40vh;
  margin: 0;
  box-shadow: 0px -3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

#stratFilter > .col {
  padding: 0;
}

#stratFilter .form-group {
  margin: 0;
}

#dismissArea {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1031;
  width: 90vw;
  box-shadow: -3px 0px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

#sidebar .topbar {
  border-bottom: 1px solid;
}

#sidebar .list-group-item {
  border-bottom: 1px solid;
}
